EAGLE_CONTROL_SEND_URL="Your sensitive string"
EAGLE_CONTROL_RECEIVE_URL="Your sensitive string"
EAGLE_CONTROL_USERNAME="Your sensitive string"
EAGLE_CONTROL_PASSWORD="Your sensitive string"
SERIAL_N_SYRINGE_PUMP_A="Your sensitive string"
SERIAL_N_SYRINGE_PUMP_B="Your sensitive string"
SERIAL_N_SYRINGE_PUMP_C="Your sensitive string"
SERIAL_N_PUMP_A_ULTRASONIC_DETECTOR="Your sensitive string"
SERIAL_N_PUMP_B_ULTRASONIC_DETECTOR="Your sensitive string"
SERIAL_N_PUMP_C_ULTRASONIC_DETECTOR="Your sensitive string"
SERIAL_N_PS1="Your sensitive string"
SERIAL_N_PS2="Your sensitive string"
SERIAL_N_PS3="Your sensitive string"
SERIAL_N_PS4="Your sensitive string"
SERIAL_N_PS5="Your sensitive string"
SERIAL_N_PS6="Your sensitive string"
SERIAL_N_PS7="Your sensitive string"
SERIAL_N_SWITCH_VALVES="Your sensitive string"
SERIAL_N_MFC="Your sensitive string"
SERIAL_N_LIQUID_HANDLER="Your sensitive string"